page-juego {
    
}
.consola{
    background-color: rgba(163, 167, 161, 0.671);
    position: absolute;
    height: 10rem;
    width: 27rem;
    overflow: auto;
    transform: translateX(-10rem);
    border-radius: 10px;
}
.Baraja{
    //background-color: darkblue;
    height: 11rem;
    margin-bottom: 1rem;
     

}


.Carta{
    background-color: beige;
    margin-top: none;
    width: 5.5rem;
    height: auto;
    padding: 0%;
    width:25%;
    
    
}
.tabla{
    border: 5px;
    border-color: beige;
    color: beige;

    background: transparent;

    margin-bottom: -40%;
}
.tabla img{
    width: 100%;
    max-width: fit-content;
    height: auto;

    //border: 1.4px solid black;
}

.grid-estilo{
    border: 1.2px solid darkgrey;
    background-color: beige;
    width: 90%;
    box-shadow: 0px 5px 10px beige

}
.estilo-ficha{
    z-index: 4000;
    top:-70px;
    position:relative;
    transition: all .3s;
   
}
.estilo-ficha.tamaño{
    width: 36px;
    height: auto;
}


//Diseño Baraja
.baraja-diseño{
    border: 2px solid white;
    border-radius: 7%;
    box-shadow: 0px 1px 11px black;
    max-width: 110%;

}


.Fondo{
    background-image: url(../assets/imgs/mesas/f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.estilo-boton{
    top: -118%;
    height: 111%;
    border-radius: 5%;
    width: 198%;
    left: -5%;

    //background-color: black;
    //opacity: 0.5;
    background-image: url(../assets/cards/0.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-play{
    width:100%;
    font-size: 4.2em;
}

.conectado{
    color:rgb(255, 255, 255);
    display: box;
    display: center;
}
.perfilConsola{
    height: 2rem;
    width: auto;
    position: absolute;
    transform: translateX(5px) translateY(-2px)
}

//Seleccionar Carta
.si{
    background-color: transparent;
    border-radius: 6%;
    -moz-margin-bottom: -60px;
    margin-bottom: -60px;
   

}
.animacion-imagen{
    transition: all .3s ease;
    border: 1.4px solid black;
    box-shadow: 0px 5px 9px black;
}
.Notificacion{
    transform: translateY(12px);
    position: relative;
    z-index: 1;
    background-color: crimson;
}

@media (max-width:340px){
    .estilo-boton{
        top: -5%;
        height: 100%;
        width: 216%;
        left: -35%;
    }
    .icono-play{
        width:100%;
        font-size: 3.2em;
    }
    .consola{
        width: 150%;
        margin-left: 25%;
    }
    .baraja-diseño{
        top: -5%;
        //height: 130%;
        max-width: 220%;
        margin-left: -23%;
    }

}
@media (min-width:340px){
    .grid-estilo{
        margin-top: 7%;
        width: 85%;
    }
    .baraja-diseño{
        max-width: 200%;
    }
    .estilo-ficha.tamaño {
        width: auto;
        height: 50px;
    }
    .estilo-ficha{
        width: auto; height: 30px;

    }
    .estilo-boton{
        top: -5%;
        height: 112%;
        width: 200%;
    }
    .consola{
        width: 150%;
        margin-left: 14%;
    }
    .icono-play{
        width:100%;
        font-size: 3.2em;
    }
}
@media (min-width:420px){
    .grid-estilo{
        margin-top: 7%;
        width: 75%;
    }
    .estilo-boton{
        top: -5%;
        height: 130%;
        width: 200%;
        left: -30%;
    }
    .baraja-diseño{
        top: -5%;
        height: auto;
        max-width: 200%;
        margin-left: -23%;
    }
    .consola{
        width:150%;
        margin-left: 0%;
        top:15%;
    }
}
 @media (min-width:460px){
     .grid-estilo{
         width:  70%;
     }
 }
 @media (min-width:660px){
    .grid-estilo{
        width: 45%;
        margin-top: 0%;
    }
    .estilo-boton{
        top: -5%;
        height: 170%;
        width: 200%;
    }
    .consola{
        width: 92%;
        margin-left: -20%;
        top: 10%;
    }
    .baraja-diseño{
        height: auto;
        max-width: 250%;
     }
}
@media (min-width:870px){
    .grid-estilo{
        width:  35%;
        margin-top: 2%;
    }
    .consola{
        width: 100%;
        margin-left: -30%;
        top: 10%;
    }
    .baraja-diseño{
        height: auto;
        max-width: 250%;
    }

}
@media (min-width:990px){
    .baraja-diseño{
        height: auto;
        max-width: 450%;
    }
    .estilo-boton{
        top: -5%;
        height: 230%;
        width: 400%;
    }
}
@media (min-width:1200px){
    .grid-estilo{
        width: 25%;
        margin-top: 4%;
    }
    .Carta{
        margin-top: 2%;
    }
    .estilo-ficha{
        top: -90px;
    }
    .estilo-ficha.tamaño{
        width:auto;
        height: 60px;
    }
    .si{
        margin-bottom:-80px;
    }
    .estilo-boton{
        top: 5%;
        height: 352%;
        width: 425%;
    }
    .baraja-diseño{
        height: 330%;
        max-width: 450%;
    }
}

