<!--
  Generated template for the JuegoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--ion-navbar>
    <ion-title text-center>Jugar</ion-title>
  </ion-navbar-->

</ion-header>


<ion-content padding class="Fondo">
  <ion-fab top right>
    <button ion-fab mini color="verde">
      <ion-icon name="trophy"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="s_full=true;animation.start({type: 'zoomIn', duration: '1000'});" class="Llenas" style="background-color: white;"
        *ngIf="settings.full == true && !this.fullWinner">
        <div animates #animation="animates">
          <img src="assets/imgs/posiciones/buenas.png" style="padding-top: 80%;">
        </div>
      </button>
      <button ion-fab (click)="s_blast=true;animation.start({type: 'zoomIn', duration: '1000'});" class="Chorro" style="background-color: white;"
        *ngIf="settings.blast == true && !this.blastWinner">
        <div animates #animation="animates">
          <img src="assets/imgs/posiciones/chorro.png" style="padding-top: 80%;">
        </div>
      </button>
      <button ion-fab (click)="s_square=true;animation.start({type: 'zoomIn', duration: '1000'});" class="4Esquinas" style="background-color: white;"
        *ngIf="settings.quarters == true && !this.quarterWinner">
        <div animates #animation="animates">
          <img src="assets/imgs/posiciones/4esquinas.png" style="padding-top: 80%;">
        </div>
      </button>
      <button ion-fab (click)="s_center=true;animation.start({type: 'zoomIn', duration: '1000'});" class="Centrito" style="background-color: white;"
        *ngIf="settings.middle == true && !this.centerWinner">
        <div animates #animation="animates">
          <img src="assets/imgs/posiciones/centrito.png" style="padding-top: 80%;">
        </div>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="Baraja" col-3 no-padding col-md-2 col-lg-1>

          <!--<img *ngIf="initCard == true || indice == 53" class="baraja-diseño" src="assets/cards/0.png">-->
          <div #myElement>
            <img *ngIf="initCard == false && index < 54" class="baraja-diseño" src="assets/gif/{{this.putos}}.gif">
          </div>
          <button ion-button round class="estilo-boton" color="verde" (click)="initServer();animateElem();" *ngIf="owner==email && game.status=='w' && initCard == true && index == 0">
            <ion-icon class="icono-play" name="play"></ion-icon>
          </button>

        </div>
      </ion-col>
      <ion-col>
        <div class="consola" no-padding>
          &nbsp; Eventos:
          <br>
          <div *ngFor="let item of perfil" class="conectado">
            <img class="perfilConsola" src="assets/imgs/perfil/{{item.avatar}}">
            <p offset-1>Se unió {{item.player}}</p>
          </div>
          <div class="conectado" *ngIf="this.centerWinner">
            <img class="perfilConsola" src="assets/imgs/perfil/{{centerWinner.avatar}}">
            <p offset-1>{{this.centerWinner.player}} hizo centrito</p>
          </div>
          <div class="conectado" *ngIf="this.blastWinner">
            <img class="perfilConsola" src="assets/imgs/perfil/{{blastWinner.avatar}}">
            <p offset-1>{{this.blastWinner.player}} hizo chorro</p>
          </div>
          <div class="conectado" *ngIf="this.quarterWinner">
            <img class="perfilConsola" src="assets/imgs/perfil/{{quarterWinner.avatar}}">
            <p offset-1>{{this.quarterWinner.player}} hizo cuatro esquinas</p>
          </div>
          <div class="conectado" *ngIf="this.fullWinner">
            <img class="perfilConsola" src="assets/imgs/perfil/{{fullWinner.avatar}}">
            <p offset-1>{{this.fullWinner.player}} hizo llenas</p>
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-grid class="grid-estilo">
        <ion-row justify-content-center *ngFor="let ite of table; let j = index;">
          <div *ngFor="let it of ite; let l = index;" class="Carta">
            <button class="tabla" [ngClass]="{si: estadoPositivo[j*4+l], no: !estadoPositivo[j*4+l]}" id="item{{it}}" (click)="card(j*4+l);animation.start({type: 'rubberBand', duration: '1000'});">
              <img src="assets/cards/{{it}}.png" class="animacion-imagen">
              <!--fichas-->
              <div animates #animation="animates">
                <img src="assets/imgs/fichas/ficha14.png" style="" *ngIf="estadoPositivo[j*4+l]" class="estilo-ficha tamaño">
              </div>
            </button>
          </div>
        </ion-row>
      </ion-grid>

    </ion-row>

  </ion-grid>

<ion-fab right bottom>
  <ion-badge item-end class="Notificacion"></ion-badge>
  <button ion-fab color="primary" (click)="abrirChat()"><ion-icon name="chatboxes"></ion-icon></button>
</ion-fab>

  <ion-fab left bottom>
    <button ion-fab color="danger" (click)="salir()">
      <ion-icon name="md-exit"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
