<ion-header>
  <ion-navbar color="amarillo1">
    <ion-buttons>
      <button ion-button icon-only class="Compartir" (click)="compartir()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center class="Titulo" (click)="easteregg()">Loteria 4-02</ion-title>
    <ion-buttons end *ngIf="auth.getEmail()">
      <button ion-button icon-only clear color="dark">
        <ion-icon name="logo-usd"></ion-icon> 50
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="Login">


  <ion-grid>
    <ion-row justify-content-center align-items-start>
      <ion-col col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3>    
        <ion-list class="Home">
          <!--ion-item>
              <ion-label stacked><ion-icon name="unlock"></ion-icon> Contraseña</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item-->

            <ion-card>
              <ion-card-header>
                <img src="assets/imgs/logo.png" col-12>
                
              </ion-card-header>
            
              <ion-card-content>
                
                <ion-list-header *ngIf="auth.getEmail()" text-center color="info">
                    Conectado como: {{auth.getEmail()}}
                </ion-list-header>
                
                <button ion-button (click)='Login()' block round *ngIf="!auth.authenticated">Iniciar Sesión</button>
                <button ion-button color="dark" outline round block (click)="crearPartida()" [disabled]="!auth.authenticated">Crear partida</button>
                <button ion-button color="dark" round block (click)="unirsePartida()" [disabled]="!auth.authenticated">Unirse a partida</button>
              </ion-card-content>
            
            </ion-card>
        
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
